---
import { getCollection } from "astro:content";
import SoundLayout from "../../layouts/SoundLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { noDrafts } from "../../utils";

export async function getStaticPaths() {
    const words = await getCollection("sounds", noDrafts);

    return words.map(sound => ({
        params: {
            slug: sound.slug,
        },
        props: { sound: sound },
    }));
}

const { sound } = Astro.props;
const { slug } = Astro.params;
const { Content } = await sound.render();
---

<SoundLayout
    title={sound.data.title}
    description={sound.data.description}
    date={sound.data.date}
    slug={slug}
    sound={sound.data.sound}
>
    {
        sound.data.sound?.preview && (
            <div class="md:float-right md:w-80 md:ml-2 md:mb-2">
                <img
                    class="mt-0"
                    src={sound.data.sound.preview.replace(
                        "s3/",
                        "https://s3.amazonaws.com/cnunciato-website-media/",
                    )}
                />
            </div>
        )
    }
    <h1>{sound.data.title}</h1>
    <FormattedDate date={sound.data.date} />
    <Content />
</SoundLayout>
