---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import Prose from "../../components/Prose.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { noDrafts } from "../../utils";

export async function getStaticPaths() {
    const photos = await getCollection("photos", noDrafts);

    return photos.map(photo => {
        return {
            params: {
                slug: photo.slug,
            },
            props: { photo },
        };
    });
}

const { photo: p } = Astro.props;
const { title, description, photo, date } = p.data;
const { Content } = await p.render();
const url = photo?.url?.replace("s3/", "https://s3.amazonaws.com/cnunciato-website-media/");
---

<DefaultLayout title={title} description={description || ""}>
    <div class="max-w-6xl mx-auto">
        <div>
            <a href={url} target="_blank">
                <img class="rounded-lg shadow-lg" src={url} />
            </a>
        </div>
        <div class="my-12">
            <Prose>
                <h2>{title}</h2>
                <div><FormattedDate date={date} /></div>
                <Content />
            </Prose>
        </div>
    </div>
</DefaultLayout>
