---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import VideoLayout from "../../layouts/VideoLayout.astro";
import { byDate, noDrafts } from "../../utils";

const [video] = (await getCollection("videos", noDrafts)).sort(byDate);
const { Content } = await video.render();
---

<VideoLayout
    title="Sounds"
    description="All the blog posts."
    date={video.data.date}
    slug={video.slug}
    video={video.data.video}
>
    <!-- {
        video.data.video?.preview && (
            <div class="md:float-right md:w-80 md:ml-4 md:mb-4">
                <img
                    class="mt-0"
                    src={video.data.video.preview.replace(
                        "s3/",
                        "https://s3.amazonaws.com/cnunciato-website-media/",
                    )}
                />
            </div>
        )
    } -->
    <h1>{video.data.title}</h1>
    <FormattedDate date={video.data.date} />
    <Content />
</VideoLayout>
