---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import DefaultLayout from "./DefaultLayout.astro";
import Prose from "../components/Prose.astro";
import { noDrafts, byDate } from "../utils";

type Props = CollectionEntry<"words">["data"] & { slug: string };
const { title, description, slug, canonical, photo } = Astro.props;

const words = (await getCollection("words", noDrafts)).sort(byDate);
const preview = photo?.preview?.replace("s3/", "https://s3.amazonaws.com/cnunciato-website-media/");
---

<DefaultLayout title={title} description={description || ""} image={preview} canonical={canonical}>
    <div class="flex flex-col lg:flex-row">
        <nav class="lg:w-2/12 order-last lg:order-first mt-4 lg:mt-0 lg:pr-4">
            <ol class="list-none list-outside">
                {
                    words.map(post => (
                        <li class="my-4">
                            <a
                                class:list={[
                                    "block rounded-lg no-underline py-2 px-3 hover:bg-basecolor-200 transition-colors",
                                    post.slug === slug ? "bg-basecolor-200" : undefined,
                                ]}
                                href={`/words/${post.slug}`}
                            >
                                <h5 class="font-semibold ">{post.data.title}</h5>
                                <div class="text-sm font-sans mt-1">
                                    <FormattedDate date={post.data.date} />
                                </div>
                            </a>
                        </li>
                    ))
                }
            </ol>
        </nav>
        <div class="flex flex-grow justify-center">
            <article
                class="block mx-auto max-w-4xl bg-white shadow-lg p-8 lg:p-16 rounded-lg w-full"
            >
                <Prose>
                    <slot />
                </Prose>
            </article>
        </div>
        <div class="lg:w-2/12"></div>
    </div>
</DefaultLayout>
