---
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { noDrafts } from "../../utils";

export async function getStaticPaths() {
    const words = await getCollection("words", noDrafts);

    return words.map(post => ({
        params: {
            slug: post.slug,
        },
        props: { post },
    }));
}

const { post } = Astro.props;
const { slug } = Astro.params;
const { Content } = await post.render();
---

<BlogLayout
    title={post.data.title}
    description={post.data.description}
    date={post.data.date}
    slug={slug}
    canonical={post.data.canonical}
    photo={post.data.photo}
>
    {
        post.data.photo?.preview && (
            <div class="flex justify-center mt-2 md:float-right md:w-80 md:ml-2 md:mb-2">
                <img
                    class="mt-0"
                    src={post.data.photo.preview.replace(
                        "s3/",
                        "https://s3.amazonaws.com/cnunciato-website-media/",
                    )}
                />
            </div>
        )
    }
    <h1>{post.data.title}</h1>
    <div class="text-basecolor-500 font-sans">
        <FormattedDate date={post.data.date} />
        {
            post.data.canonical && (
                <span>
                    &bull; Reprinted from{" "}
                    <a href={post.data.canonical} target="_blank">
                        {new URL(post.data.canonical).hostname}
                    </a>
                    ↗
                </span>
            )
        }
    </div>

    <div class="my-12">
        <Content />
    </div>
</BlogLayout>
