---
import { getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import FormattedDate from "../../components/FormattedDate.astro";

export async function getStaticPaths() {
    const words = await getCollection("words");

    return words.map(post => ({
        params: {
            slug: post.slug,
        },
        props: { post: post },
    }));
}

const { post } = Astro.props;
const { slug } = Astro.params;
const { Content } = await post.render();
---

<BlogPost
    title={post.data.title}
    description={post.data.description}
    date={post.data.date}
    slug={slug}
>
    {
        post.data.photo?.preview && (
            <div class="md:float-right md:w-80 md:ml-2 md:mb-2">
                <img
                    src={post.data.photo.preview.replace(
                        "s3/",
                        "https://s3.amazonaws.com/cnunciato-website-media/",
                    )}
                />
            </div>
        )
    }
    <h1>{post.data.title}</h1>
    <FormattedDate date={post.data.date} />
    <Content />
</BlogPost>
