---
import { siteTitle, siteDescription } from "../consts";
// import MessageOfTheDay from "../components/MessageOfTheDay";
import { Image } from "astro:assets";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { getCollection } from "astro:content";
import Prose from "../components/Prose.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Widget from "../components/Widget";

// Grab the most recent photo.
const collection = await getCollection("photos");
const photos = collection.sort((a, b) => (a.data.date > b.data.date ? 0 : 1)).reverse();
const [photo] = photos;
---

<DefaultLayout title={siteTitle} description={siteDescription}>
    <!-- <MessageOfTheDay client:load /> -->

    <div class="block">
        <Widget client:load />
        <Widget client:load />
        <Widget client:load />
        <Widget client:load />
        <Widget client:load />
    </div>

    <div class="flex justify-center hover: transition-all">
        <div class="p-6 shadow-lg rounded-md border border-gray-200">
            <a href={`/photos/${photo.slug}`}>
                <Image
                    src={photo.data.photo.url.replace(
                        "s3/",
                        "https://s3.amazonaws.com/cnunciato-website-media/",
                    )}
                    alt={photo.data.title}
                    loading="lazy"
                    decoding="async"
                    width="800"
                    height="800"
                    inferSize={true}
                    class:list="block rounded shadow-inner border border-gray-100"
                />
            </a>
            <div class="mt-6">
                <Prose>
                    <p>
                        <FormattedDate date={photo.data.date} />
                    </p>
                </Prose>
            </div>
        </div>
    </div>
</DefaultLayout>
