---
import { siteTitle, siteDescription } from "../consts";
// import MessageOfTheDay from "../components/MessageOfTheDay";
import { Image } from "astro:assets";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { getCollection } from "astro:content";
import Prose from "../components/Prose.astro";
import FormattedDate from "../components/FormattedDate.astro";

// Grab the most recent photo.
const collection = await getCollection("photos");
const photos = collection
    .sort((a, b) => (a.data.date > b.data.date ? 0 : 1))
    .reverse()
    .slice(0, 3);

console.log(photos);
---

<DefaultLayout title={siteTitle} description={siteDescription}>
    <!-- <MessageOfTheDay client:load /> -->
    <ol class="flex justify-center hover: transition-all gap-4">
        {
            photos.map(photo => (
                <li class="p-6 shadow-lg rounded-lg border border-neutral-200">
                    <a href={`/photos/${photo.slug}`}>
                        <img
                            src={photo.data.photo.preview.replace(
                                "s3/",
                                "https://s3.amazonaws.com/cnunciato-website-media/",
                            )}
                            alt=""
                            class="block rounded-lg shadow-inner border border-neutral-100 overflow-hidden h-96 object-cover top"
                        />
                    </a>
                    <div class="mt-6">
                        <Prose>
                            <figcaption>{photo.data.title}</figcaption>
                            <p>
                                <FormattedDate date={photo.data.date} />
                            </p>
                        </Prose>
                    </div>
                </li>
            ))
        }
    </ol>
</DefaultLayout>
